<launch>

    <!-- Map Server -->
    <arg name="map_file" default="$(find warehouse_robot_simulation)/maps/warehouse.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- AMCL Node -->
    <node name="amcl" pkg="amcl" type="amcl" output="screen">
        <param name="odom_frame_id" value="odom"/>
        <param name="odom_model_type" value="diff-corrected"/>
        <param name="base_frame_id" value="robot_footprint"/>
        <param name="global_frame_id" value="map"/>

        <param name="initial_pose_x" value="0"/>
        <param name="initial_pose_y" value="0"/>
        <param name="initial_pose_a" value="0"/>

        <param name="min_particles" value="1000"/>
        <param name="max_particles" value="7000"/>
        <param name="update_min_d" value="0.1"/>
        <param name="update_min_a" value="0.3"/>
        <param name="resample_interval" value="1"/>
        <param name="laser_min_range" value="0.1"/>
        <param name="laser_max_range" value="30.0"/>
        <param name="laser_max_beams" value="120"/>
        <param name="ros amcl" value="0.95"/>
        <param name="laser_z_short" value="0.1"/>
        <param name="odom_alpha1" value="0.05"/>
        <param name="odom_alpha2" value="0.05"/>
        <param name="odom_alpha3" value="0.05"/>
        <param name="odom_alpha4" value="0.05"/>
    </node>

    <!-- Navigation Node -->
    <arg name="odom_frame_id" default="odom"/>
    <arg name="base_frame_id" default="base_chassis"/>
    <arg name="global_frame_id" default="map"/>
    <arg name="odom_topic" default="odom" />
    <arg name="laser_topic" default="scan" />
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find warehouse_robot_simulation)/navigation/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find warehouse_robot_simulation)/navigation/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find warehouse_robot_simulation)/navigation/params/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find warehouse_robot_simulation)/navigation/params/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find warehouse_robot_simulation)/navigation/params/dwa_local_planner_params.yaml" command="load" />
        <rosparam file="$(find warehouse_robot_simulation)/navigation/params/move_base_params.yaml" command="load" />
        <rosparam file="$(find warehouse_robot_simulation)/navigation/params/global_planner_params.yaml" command="load" />
        <rosparam file="$(find warehouse_robot_simulation)/navigation/params/navfn_global_planner_params.yaml" command="load" />

        <!-- reset frame_id parameters using user input data -->
        <param name="global_costmap/global_frame" value="$(arg global_frame_id)"/>
        <param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
        <param name="local_costmap/global_frame" value="$(arg odom_frame_id)"/>
        <param name="local_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
        <param name="DWAPlannerROS/global_frame_id" value="$(arg odom_frame_id)"/>

        <remap from="odom" to="$(arg odom_topic)"/>
        <remap from="scan" to="$(arg laser_topic)"/>
    </node>
</launch>