<launch>

  <!-- Launch other relevant files-->
  <include file="$(find warehouse_robot_simulation)/launch/robot_description.launch"/>

  <!-- Launch Rviz with predefined configuration for navigate -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find warehouse_robot_simulation)/rvizConfig/robot_check.rviz"/>
</launch>